{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    {{ form(contactForm) }}

    <table>
        <tr>
            <th>Jméno</th>
            <th>Přijmení</th>
            <th>Telefon</th>
        </tr>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.phone }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
